.App {
  /* text-align: center; */
}

table {
  border: 2px solid white;
  border-collapse: collapse;
  background-color: #96D4D4;
}

th,
td {
  text-align: center;
  border: 2px solid white;
  border-collapse: collapse;
  width: 150px;
  height: 30px;
  padding: 5px;
}

button {
  width: 100px;
  height: 30px;
  border: none;
  background-color: rgb(124, 254, 92);
  border-radius: 5px;
}

button:hover {
  background-color: rgb(194, 244, 182);
}

input {
  background-color: white;
  height: 25px;
}

ul li {
  display: inline;
}